.main-menu {
  background: lighten($bg-color, 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  li {
    list-style: none;
    text-align: center;
    padding: 15px 15px;
    font-size: 13px;
    color: $text-color;
    letter-spacing: 0.5px;
    &.active {
      color: $main-color;
    }
  }
  i {
    display: block;
  }
}
